# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# IDEs
.idea

# This is used only to bake the current version into the library, and should never be updated
libs/version
